{
  "presets": ["env", "react"],
  "plugins": [
    "transform-class-properties",
    "transform-object-rest-spread",
    "transform-regenerator",
    "add-module-exports",
    ["lodash", {"id": ["lodash", "semantic-ui-react"]}],
    "emotion"
  ]
}