$primary-bg-color: rgb(1, 94, 134);
$primary-card-bg-color: rgba(2, 73, 103, 1);
$primary-card-bg-light-color: rgba(2, 89, 126, 1);
$primary-light-accent-color: rgba(3, 130, 185, 1);
$primary-lighter-accent-color: rgba(8, 155, 219, 1);

$secondary-bg-color: white;
$secondary-card-bg-color: rgb(136, 114, 139);
$secondary-card-bg-light-color: rgba(0, 129, 100, 1);

$route-bg-color: rgb(175,175,175);

$highlight-color: rgba(0, 220, 171, 1);


$primary-font: 'Poppins', sans-serif;
$secondary-font: 'Roboto', sans-serif;
